# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files
data/raw/*.csv
data/raw/*.json

# Outputs
outputs/*.csv
outputs/*.png

# Environment
.env
.venv
env/
venv/
.python-version

# OS files
.DS_Store
Thumbs.db

